/*** General CSS ***/
body {
    line-height: 1.9em;
}

/*** Header Area ***/
/* Header Top */
#sp-top-bar {
    position: relative;
    z-index: 9999;
    padding: 15px 0;
}
body.home #sp-top-bar {
    background: transparent;
}

/* Header Menu */
#sp-header {
    box-shadow: none;
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 50px;
}
#sp-header.header-sticky,
body:not(.home) #sp-header {
    border-radius: 0;
    max-width: 100%;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
}
.sp-megamenu-parent .sp-dropdown li.sp-menu-item>a {
    font-weight: 400 !important;
    padding: 10px 0;
    font-size: 16px !important;
}
.sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
    text-transform: capitalize;
    position: relative;
}
.sp-megamenu-parent > li > span {
    color: #fff;
}

/* Canvas Menu */
.offcanvas-menu .offcanvas-inner .menu-child > li a {
    padding: 12px 10px !important;
    border-bottom: 1px solid rgba(197, 153, 153, 0.21);
    display: inherit;
}
.offcanvas-menu .offcanvas-inner ul.menu>li>a, .offcanvas-menu .offcanvas-inner ul.menu>li>span {
    font-size: 15px;
    font-weight: 500;
}
.burger-icon>span {
    background-color: #fff;
}
.offcanvas-menu > .align-items-center {
    background: #f34c44;
}
.offcanvas-active .burger-icon>span, #modal-menu-toggler.active .burger-icon>span {
    background-color: #fff;
}

/*** Block Styles ***/
/* Button */
.btn {
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    border: none;
    display: inline-block;
    background: transparent;
    color: #fff;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.btn:hover {
    background-color: #e1980f;
    color:  #fff;
    transform: translateY(-8px);
}
.btn.color, .btn.color:hover {
    background-color: #001659;
    padding: 17px 30px;
    border: none;
    color: #fff;
    border-radius: 0;
}
a.btn-link {
    padding: 0;
    font-size: 14px;
    letter-spacing: 2px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
a.btn-link:hover {
    transform: translateY(-8px);
}
.btn.white {
    background: #fff;
}

/* Title */
.title h4 {
    letter-spacing: 2px;
    position: relative;
    display: inline-block;
    padding-right: 80px;
}
.title h4:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto 0;
    height: 5px;
    width: 70px;
    border-top: 4px dotted #222;
}

/* Slider */
#slider {
    margin-top: -150px !important;
}

/* Shape */
.shape-item {
    position: relative;
}
.shape-item path.elementor-shape-fill {
    fill: #fff;
}
/*.shape-item.red path.elementor-shape-fill {
    fill: #f34c44;
}*/

/* Services */
.services-item a.sppb-btn {
    padding: 18px 40px;
    border-radius: 30px;
    background-color: #f34c44;
    color: #fff;
}
.services-item a.sppb-btn:hover {
    color: #222;
}
.services-item .info-subtitle {
    color: #f34c44;
}
.services-item img {
    border-radius: 30px;
}

/* Feature */
.feature-item img {
    border-radius: 50%;
}
.feature-item .sppb-media-content {
    max-width: 300px;
    margin: 0 auto;
}
.shape-item.yellow {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.feature-item a {
    color: #fff;
}
/* Check List */
.check-list {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
}
.check-list strong {
    display: none;
}
.check-list li {
    padding-bottom: 10px;
}
.check-list span {
    padding-right: 10px;
    color: #f34c44;
}

/* About */
.about-img2 {
    position: relative;
    z-index: -1;
}
.about-item {
    background-color: #d8e2ff;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
    border-radius: 30px 30px 30px 100px;
    padding: 10px 30px 20px;
}
.about-item {
    position: relative;
}
.about-item i {
    position: absolute;
    top: -13px;
    right: -25px;
}
.about-item h3 {
    text-align: left;
}
.about-img2 img {
    border-radius: 300px 0px 300px 0px;
}

/* Counter */
.counter-row {
    background: #f34c44;
    padding: 35px 20px;
    box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 15%);
    border-radius: 30px 100px 30px 100px;
    width: 100%;
    overflow: hidden;
}
.counter-row .counter-item {
    width: 25%;
    float: left;
    border-right: 1px dashed #fff;
}
.counter .sppb-col-md-3 {
    border-right: 1px dashed #fff;
}
.counter-row .counter-item:last-child, 
.counter .sppb-col-md-3:last-child {
    border-right: none;
}
.counter-row h1 {
    font-weight: 600;
    font-size: 45px;
}
.counter-row h5 {
    font-size: 16px;
}
.counter-img2 img {
    border-radius: 200px 100px 200px 300px;
}
.counter-img2 {
    position: relative;
    z-index: -1;
}
.counter-img1 img {
    background: #fff;
    border-radius: 0px 0px 0px 200px;
}

/* Team */
.team-item .shrewd_solution_icon ul li a {
    border-radius: 50%;
    font-size: 18px;
    height: 43px;
    width: 43px;
    line-height: 43px;
}
.team-item .shrewd_solution_icon ul li a:hover {
    background-color: #f34c44;
}
.team-item img {
    border-radius: 50%;
}

/* Faqs */
.faqs-item .sppb-panel-modern>.sppb-panel-heading {
    background: #ecffdf;
    color: #222;
}
.faqs-item span.sppb-panel-title {
    font-size: 16px;
}

/* Product */
.addtocart-button:hover {
    background-color: #f34c44 !important;
    border-color: #f34c44 !important;
}

/* Blog */
.jmm-item .jmm-image.mod-article-image {
    overflow: hidden;
    margin: 0;
}
.jmm-image.mod-article-image img {
    transform: scale(1);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    border-radius: 20px 20px 0 0;
}
.jmm-item:hover .jmm-image.mod-article-image img {
    transform: scale(1.12);
    filter: grayscale(100%);
}
.jmm-text {
    padding: 30px 0px 0px;
}
.jm-category-module.default .jmm-text .jmm-title {
    font-size: 21px;
    font-weight: 600;
    text-transform: capitalize;
    color: #222;
}
.jm-category-module.default .jmm-readmore {
    margin-top: 20px;
}

/* Bottom Top */
#sp-bottom-top .elementor-shape svg {
    display: block;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: calc(159% + 1.3px);
}

/* Bottom */
#sp-bottom {
    position: relative;
    z-index: 1;
    font-size: 16px;
}
#sp-bottom .sp-module .sp-module-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0px;
    color: #222;
    position: relative;
}
.shrewd_solution_icon  {
    margin-top: 25px;
}
.shrewd_solution_icon ul, .shrewd_solution_icon ul li {
    display: inline-block!important;
    padding: 0!important;
    margin-bottom: 0px !important;
}
.shrewd_solution_icon ul li a {
    font-size: 16px;
    width: 33px;
    line-height: 33px;
    color: #222 !important;
    text-align: center;
    border-radius: 5px;
    border: none;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    height: 33px;
    margin-right: 5px;
    background: #fff;
}
.shrewd_solution_icon ul li a:hover {
    color: #fff !important;
    background: #f34c44;
}
.shrewd_solution_icon ul li a em {
    font-family: "Font Awesome 5 Brands";
}
.shrewd_solution_icon strong {
    display: none;
    margin: 0 20px;
}
#sp-bottom ul li strong {
    display: none;
}
#sp-bottom ul li span {
    padding-right: 10px;
}

/* Footer Copyright */
#sp-footer {
    text-align: center;
    position: relative;
    z-index: 1;
}
#sp-footer .container-inner {
    border-top: none;
}

/*** Responsive Layout ***/
@media (min-width: 992px) and (max-width: 1280px) {
    .sp-megamenu-parent > li > a, .sp-megamenu-parent > li > span {
        font-size: 16px !important;
    }
    #slider .clearfix:last-child {
        margin-top: -80px !important;
    }
}
@media (max-width: 1280px) {
    div#sp-menu .sp-menu-full.container {
        width: 880px !important;;
    }
}
/* Mobile Standard Layout */
@media (max-width: 991px) {
    #sp-header, #sp-header .logo {
        height: 70px;
    }
    #sp-footer p {
        text-align: center;
    }
    body #sp-header {
        padding: 0;
    }
    #sp-header {
        border-radius: 0;
    }
    #slider {
        margin-top: -150px !important;
    }
    #slider .clearfix:last-child {
        margin-top: -50px !important;
    }
    .counter-row .counter-item {
        width: 100%;
        border-right: none;
        padding: 20px;
    }
}

/* Mobile Small Resolution */
@media (max-width: 480px) {
    body #sp-header {
        top: 0;
    }
    #slider .clearfix:last-child {
        margin-top: -30px !important;
    }
}

/* General color defination
Color value depend on preset color that picking on template settings > Presets
*/

:root {
  --background-color: currentColor;
  --background: currentColor;
  --text-color: currentColor;
}
.page-item.active .page-link, .slider-item .sppb-btn-success, 
.sp-simpleportfolio .sp-simpleportfolio-item .sp-simpleportfolio-info:hover, 
.btn, .services-item a.sppb-btn:hover,
.shrewd_solution_icon ul li a {
    background-color: var(--background-color);
}
.addtocart-button {
    
    /* background-color: var(--background-color) !important; */
}
.article-list .article .readmore a:hover, .article-list .article .readmore a:active, 
.article-list .article .article-header h2 a:hover {
    color: var(--text-color);
}
.btn, .services-column .clearfix, .page-item.active .page-link {
    border-color: var(--text-color);
}
.addtocart-button {
    border-color: var(--background-color) !important;
}

/*** Fix Rating ***/  
.content_rating:before {  
    content: "Ratings: ";  
    position: relative;  
    top: 2px;  
}  
.article-ratings-social-share .social-share-block {  
   width: 100%;  
}  
.article-ratings-social-share .social-share-block .article-social-share {  
   float: left;  
}  
.article-ratings-social-share  .me-auto {  
   display: none;  
}  
.content_rating .jq-star {  
   margin: 0 3px;  
}