@charset "UTF-8";
:root {
  --cassiopeia-color-primary: #fcb900;
  --cassiopeia-color-link: #30638d;
  --link-color: #30638d;
  --link-color-rgb: 48, 99, 141;
  --cassiopeia-color-hover: #fce300;
  --link-hover-color: #fce300;
  --link-hover-color-rgb: 149, 75, 86;
}
